body {
    background: linear-gradient(to top left, rgb(0, 0, 36), rgb(43, 0, 37));
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

.contents {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contents img {
    margin-bottom: 5px;;
    height: 300px;
    opacity: 80%;
}

.contents div {
    margin: 10px;
    border: rgb(248, 236, 236) 5px solid;
    border-radius: 10px;
    padding-bottom: 10px;;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.contents div:hover {
    background: rgba(255, 255, 255, 0.1);
}

.contents a {
    text-decoration: none;
    margin: 10px 0;
    color: rgb(248, 236, 236);
    font-family: "Calibri", Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.6em;
}

.article {
    width: 70%;
    margin: 0 auto;
}

p {
    text-align: left;
    color: rgb(248, 236, 236);
    font-family: "Calibri", Helvetica, sans-serif;
    font-size: 1.5em;
}

h2 {
    text-align: left;
    color: rgb(248, 236, 236);
    font-family: "Calibri", Helvetica, sans-serif;
    font-weight: bold;
    margin: 1em 0;
    font-size: 2.2em;
}

.article img {
    width: 400px;
    margin: 20px;
    float: right;
    border: white 5px solid;
    cursor: pointer;
}

.article .lyrics {
    font-family: Cambria, Georgia, Times, serif;
    font-style: italic;
}

#berenSong {
    height: 800px;
    width: 613.2px;
}

.extraContents {
    width: 80%;
    display: inline-flex;
    flex-direction: column;
    margin: 0;
}

.extraContents .textA {
    flex: 1 1 auto;
    text-align: left;
    text-decoration: none;
    color: rgb(248, 236, 236);
    font-family: "Calibri", Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2em;
    margin: auto 15px;
}

.extraContents div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    text-align: left;
    border: white 5px solid;
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.extraContents img {
    flex: 0 0 auto;
    height: 140px;
    vertical-align: middle;
    opacity: 80%;
}

.extraContents div:hover {
    background: rgba(255, 255, 255, 0.06);
}

@media only screen and (max-width: 600px) {
    .article {
        text-align: center;
        width: 90%;
    }
    .article p {
        font-size: 1.3em;
    }
    .article h2 {
        font-size: 1.7em;
    }
    .article img, #berenSong {
        width: 90%;
        float: inherit;
        margin: 20px 0 -5px 0;
    }
    .extraContents {
        width: 90%;
    }
}